.page-heading {
  margin: 35px -15px;
  display: -webkit-flex;
  display: flex;
}
.page-heading:before,
.woocommerce .content-area .site-main:after,
.woocommerce .content-area .site-main:before,
body > .woocommerce:after,
body > .woocommerce:before {
  content: " ";
  display: table;
}
.page-heading .col h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  color: #222;
}
.page-heading small {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  color: #888;
  text-transform: uppercase;
}
.bordered-block,
.sidebar .sidebar-list.bordered {
  border: 1px solid #eee;
  padding: 25px 30px;
}
.bordered-block h2 {
  text-transform: uppercase;
  color: #222;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 0 #fff, 0 2px 0 #eee;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.input-text {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.woocommerce .woocommerce-form-login .form-row {
  margin-bottom: 15px;
}
.woocommerce-button {
  display: inline-block;
  background-color: #222 !important;
  color: #fff !important;
  font-size: 15px;
  border-radius: 2px;
  padding: 6px 12px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 400;
  border: 0;
  line-height: 1.14;
  transition: background 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #eee;
  margin: 0 6px 5px 0;
  cursor: pointer;
  vertical-align: middle;
  top: 1px;
  line-height: 1;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
}
.woocommerce-form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
}
.post-formatting a {
  font-weight: 500;
}
.lost_password {
  margin-top: 5px;
}
.lost_password a {
  font-weight: 300;
  color: #4d4d4d;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
input[type="checkbox"]:before,
input[type="radio"]:before {
  display: block;
  position: absolute;
  content: "";
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #7b599b;
  transition: all 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
